.st-header {
    background: #52527a;
}
.st-header__inner {
    display: flex;
}
.st-header__logo {
    flex-grow: 0;
    color: #ffffff;
    width: 40px;
    padding: 7px 4px 5px 6px;

    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-decoration: none;
}

.st-header__search {
    flex-grow: 0;
    border-top: #33334d 1px solid;
    border-bottom: #33334d 1px solid;
    color: #52527a;
    background: #ffffff;
    padding: 9px 0px 0px 5px;
}

.st-header-search__form {
    display: flex;
}
.st-header-search__item {

}
.st-header-search__input {
    width: 300px;
    height: 18px;
    border: none;
    font-size: 17px;
}
.st-header-search__input:focus {
    outline: none;
}
.st-header-search__button {
    margin-left: 5px;
}

.st-header__minicart {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}
.st-header-minicart__icon {
    padding: 7px 5px 5px 0px;
}
.st-header-minicart__text {
    padding: 12px 20px 5px 0px;
    font-size: 15px;
}


.st-main {
}


.st-footer {
    border-top: 1px solid #a3a3c2;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
}
.st-footer__inner {
    color: #52527a;
}
.st-footer__copyright {
    font-size: 13px;
}

